{% extends "layout.html" %}

{% block content %}

<script>

var A = {};
// for each latlon, track hourly time, precipIntensity, temperature, cloudCover, windSpeed
{% for n in rows %}
A["lat" + {{ n.lat }} + "lon" + {{ n.lon }}] = {{ n.hourlyData }};


{% else %}
  <li>Nameless!</li>
{% endfor %}

</script>

{% endblock %}