{% extends "layout.html" %}

{% block content %}

<script>

var A = {};
A.forecast = [];

// for each latlon, track hourly time, precipIntensity, temperature, cloudCover, windSpeed
{% for n in rows %}

  A.forecast.push( {{(n.js|json_encode|raw)}} )

{% else %}
  <li>Nameless!</li>
{% endfor %}

</script>

{% endblock %}