{% extends "layout.html" %}

{% block content %}

<ul>
{% for n in rows %}
  <li> {{ n.lat }} | {{ n.lon }} | {{ n.forecast_date }} </li>
{% else %}
  <li>Nameless!</li>
{% endfor %}
</ul>

{% endblock %}