{% extends "layout.html" %}

{% block content %}

<div id="myMap"></div>


<script>
// for each latlon, track hourly time, precipIntensity, temperature, cloudCover, windSpeed
{% for n in rows %}
  A.forecast.push( {{(n.js|json_encode|raw)}} ) ;

{% else %}
  // No data!
{% endfor %}

</script>
{% endblock %}
